.idea
**/target/
**/manager/logs
**/.classpath
**/.project
**/.settings
**/src/main/webapp/WEB-INF/classes
**/.externalToolBuilders/*.launch
**/bin/
**/.idea/
**/src/test
/target
.idea/vcs.xml
**/.idea/libraries/
.idea/*
.idea/libraries/*
/.idea
/front-end/.idea